/* # Mobile First */
*,
header *,
footer * {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body > * {
  width: 100%;
}

h1 {
  font-size: 32px;
}

.columns-box {
  display: flex;
  flex-direction: column;
}

.columns-box > div,
.columns-box > section {
  width: 100%;
}

#top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
  position: fixed;
}

#div-top-bar-links {
  display: none;
  /* visibility: none; */
}

#section-localization-map > div > img {
  width: 100%;
}

/* Tablets and Desktop */
@media only screen and (min-width: 481px) {
  #button-top-bar-expand-hide {
    display: none;
  }

  #div-top-bar-links {
    display: block;
  }

  #li-top-bar-links {
    display: inline-flex;
    flex-direction: row;
    gap: 32px;
  }

  .columns-box {
    display: flex;
    flex-direction: row;
  }
}

/* Tablets */
@media only screen and (min-width: 481px; max-width: 768px) {
}

/* Desktop */
@media only screen and (min-width: 769px) {
  #section-localization-map {
    display: flex;
    flex-direction: row;
  }
}
